@use '@angular/material' as mat;
@use '../../theme-colors' as colors;

@include mat.core();


body {
  margin: 0;
  padding: 0;
}

/* get rid of user agent styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-bud-white-950: hsl(60, 1%, 27%);
  --color-bud-white-900: hsl(80, 1%, 34%);
  --color-bud-white-800: hsl(75, 1%, 40%);
  --color-bud-white-700: hsl(60, 1%, 47%);
  --color-bud-white-600: hsl(60, 1%, 53%);
  --color-bud-white-500: hsl(60, 1%, 60%);
  --color-bud-white-400: hsl(71, 2%, 66%);
  --color-bud-white-300: hsl(69, 4%, 73%);
  --color-bud-white-200: hsl(69, 5%, 80%);
  --color-bud-white-100: hsl(68, 10%, 86%);
  --color-bud-white-50: hsl(68, 20%, 93%);
  --color-bud-black-950: hsl(41, 100%, 3%);
  --color-bud-black-900: hsl(41, 80%, 3%);
  --color-bud-black-800: hsl(40, 60%, 4%);
  --color-bud-black-700: hsl(41, 53%, 5%);
  --color-bud-black-600: hsl(40, 42%, 6%);
  --color-bud-black-500: hsl(44, 38%, 7%);
  --color-bud-black-400: hsl(40, 33%, 8%);
  --color-bud-black-300: hsl(44, 30%, 9%);
  --color-bud-black-200: hsl(39, 27%, 10%);
  --color-bud-black-100: hsl(39, 25%, 11%);
  --color-bud-black-50: hsl(42, 21%, 12%);
  --color-bud-green-950: hsl(71, 35%, 22%);
  --color-bud-green-900: hsl(71, 35%, 27%);
  --color-bud-green-800: hsl(71, 34%, 31%);
  --color-bud-green-700: hsl(71, 35%, 36%);
  --color-bud-green-600: hsl(71, 34%, 40%);
  --color-bud-green-500: #8c9b4b;
  --color-bud-green-400: hsl(70, 34%, 50%);
  --color-bud-green-300: hsl(71, 34%, 54%);
  --color-bud-green-200: hsl(70, 34%, 58%);
  --color-bud-green-100: hsl(71, 34%, 63%);
  --color-bud-green-50: hsl(69, 20%, 74%);
  --color-bud-purple-950: hsl(286, 11%, 21%);
  --color-bud-purple-900: hsl(288, 11%, 25%);
  --color-bud-purple-800: hsl(286, 12%, 29%);
  --color-bud-purple-700: hsl(288, 12%, 32%);
  --color-bud-purple-600: #625266;
  --color-bud-purple-500: hsl(287, 11%, 40%);
  --color-bud-purple-400: hsl(289, 9%, 45%);
  --color-bud-purple-300: hsl(288, 7%, 50%);
  --color-bud-purple-200: hsl(286, 8%, 56%);
  --color-bud-purple-100: hsl(287, 7%, 61%);
  --color-bud-purple-50: hsl(286, 7%, 66%);
  --color-bud-red-950: hsl(356, 55%, 22%);
  --color-bud-red-900: hsl(355, 55%, 26%);
  --color-bud-red-800: hsl(356, 54%, 30%);
  --color-bud-red-700: hsl(356, 54%, 33%);
  --color-bud-red-600: hsl(356, 55%, 37%);
  --color-bud-red-500: #a1303a;
  --color-bud-red-400: hsl(356, 44%, 46%);
  --color-bud-red-300: hsl(356, 38%, 51%);
  --color-bud-red-200: hsl(355, 38%, 57%);
  --color-bud-red-100: hsl(355, 38%, 62%);
  --color-bud-red-50: hsl(356, 38%, 67%);
  --color-bud-yellow-950: hsl(47, 36%, 38%);
  --color-bud-yellow-900: hsl(47, 36%, 44%);
  --color-bud-yellow-800: hsl(46, 36%, 50%);
  --color-bud-yellow-700: hsl(47, 46%, 56%);
  --color-bud-yellow-600: hsl(46, 60%, 62%);
  --color-bud-yellow-500: hsl(47, 80%, 69%);
  --color-bud-yellow-400: hsl(46, 80%, 71%);
  --color-bud-yellow-300: hsl(47, 79%, 74%);
  --color-bud-yellow-200: hsl(46, 80%, 77%);
  --color-bud-yellow-100: hsl(47, 80%, 80%);
  --color-bud-yellow-50: hsl(46, 79%, 82%);
}


:root {
  --primary-500: hsl(71, 35%, 45%);
  --primary-contrast: white;
  --accent-500: hsl(287, 11%, 40%);
  --accent-contrast: white;
}

$custom-theme: mat.define-theme((
  color: (
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette,
  )
));

:root {
  @include mat.all-component-themes($custom-theme);
}
