a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: larger;
}

.current-site a {
  color: var(--color-bud-yellow-600);
  text-decoration: underline;
  text-decoration-style: solid;
}

a:hover {
  color: var(--color-bud-yellow-700) !important;
}
