.budget-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.budget-container {
    width: 100%;
}

.delete-button {
    color: var(--color-bud-purple-500);
    background-color: var(--color-bud-purple-100);
}

.save-button {
    color: var(--color-bud-tertiary-400);
    background-color: var(--color-bud-tertiary-200);

    transition: all;
}

.mat-column-buttons {
    padding-left: auto;
}

.mat-column-name {
    border-right: 1px solid currentColor;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    

    &:not(.mat-mdc-header-cell) {
        font-weight: bold;
    }
}

.mat-column-current-total {
    text-align: right;
}

.mat-column-is-savings {
    text-align: center;
}

.mat-column-percentage {
    text-align: right;
}

.button-action-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button-fade-container {
  position: relative;
  width: 40px; // or the button size
  height: 40px;
  button {
    position: absolute;
    top: 0;
    left: 0;
  }
}